.ul-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 0px;
    padding: 10px 0px; 

    background-color: #fefe;
    max-height: 60px;
}
.ul-navbar li {
    list-style: none;
}
a{
    text-decoration: none;
}

.span-notificacion{
    display: block;
    top: 11px;
    position: absolute;
    right: 80px;
    background: #2B4865;
    color: white;
    height: 22px;
    width: 22px;
    border-radius: 50px;
}