.item-container{
    min-width: 500px;
    max-width: 560px; 
    margin: 0 auto;
}
.item-content{
    display: flex;
    justify-content: space-around;
}
.item-description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.section-btn-add-cart{
    display: flex;
    justify-content: flex-end;
}